DATABASE_URL="postgresql://postgres:postgres@localhost:5432/eventmgmt?schema=public"
PORT=3001
JWT_ACCESS_SECRET="dev-jwt-access-secret-min-32-chars-for-safety"
JWT_REFRESH_SECRET="dev-jwt-refresh-secret-min-32-chars-for-safety"
NODE_ENV=development
